
@media (max-width: 1600px) and (min-width: 1200px) {
  .web-box {
    margin-right: 50px;
  }
  .economic-info {
    margin-right: 50px;
  }
  .about-box .web-2-1 { margin-right: 50px; }
  .web-about { margin-right: 50px;}
}
@media (min-width: 1200px) {
  /*** ReUsable Components ***/
  h1,
  h2,
  h3,
  h4 {
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
  }

  h1 {
    font-size: 312.5%;
  }
  h2 {
    font-size: 312.5%;
    color: #888;
  }
  h3 {
    font-size: 312.5%;
    color: #075e68;
  }
  h4 {
    font-size: 156.25%;
  }

  /** Paragrapgh and link styles **/
  p {
    font-size: 100%;
    line-height: 145%;
    letter-spacing: 0;
    padding: 5px 0;
    font-weight: 400;
  }

  a:link,
  a:visited {
    text-decoration: none;
    color: #707070;
    border: none;
    font-weight: 400;
  }

  .btn:link,
  .btn:visited {
    display: block;
    background-color: #075e68;
    border-radius: 5px;
    position: relative;
    color: #fff;
    font-size: 156.25%;
    transition: all 0.3s ease;
  }
  .btn:hover,
  .btn:active {
    transform: scale(1.01);
    opacity: 0.8;
  }

  /** Header Section & Nav **/
  header {
    display: flex;
    justify-content: space-between;
    min-height: max-content;
    padding: 100px;
    background-color: #000;
    padding-top: 50px;
  }

  /** Main-nav Section**/
  nav {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: max-content;
    z-index: 9999;
    animation: fadeIn 1s ease-in;
  }
  .company-name {
    display: flex;
    justify-self: flex-start;
    font-size: 130%;
    margin-right: auto;
    margin-left: 20px;
    letter-spacing: 2px;
    font-weight: 400;
  }
  .mobile-nav-icon {
    display: none;
  }

  /** Nav links **/
  .nav-links {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-self: center;
  }
  .nav-links li {
    display: flex;
    padding: 20px 30px;
    text-transform: uppercase;
  }
  .nav-links li a:link,
  .nav-links li a:visited {
    font-weight: 400;
    transition: all 0.3s ease 0s;
  }
  .nav-links li a:hover,
  .nav-links li a:active {
    color: #fff;
  }
  .sticky {
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-color: rgba(231, 231, 231, 0.801);
    box-shadow: 0 2px 2px #b9b9b9;
    z-index: 9999;
  }
  .sticky .company-name {
    color: #000;
  }
  .sticky .nav-links {
    display: flex;
  }
  .sticky .nav-links li {
    display: inline-flex;
  }
  .sticky .nav-links li a:link,
  .sticky .nav-links li a:visited {
    padding: 19px 0;
    color: #555;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s, color 0.3s ease-in-out;
  }
  .sticky .nav-links li a:hover,
  .sticky .nav-links li a:active {
    color: #999;
    border-bottom: 2px solid #555;
  }
  .sticky a:link .logo-black,
  .sticky a:visited .logo-black {
    margin-left: 30px;
  }
  section p {
    font-size: 125%;
  }
  section blockquote {
    font-size: 125%;
    margin: 5px 0;
    padding: 5px;
  }
  /** Main Heading text **/
  .title-text-box {
    align-self: center;
    align-items: center;
    text-align: center;
    max-width: 670px;
    z-index: 9;
    margin-top: 100px;
  }
  .title-text-box h1 {
    display: none;
    margin-bottom: 0;
  }
  .title-text-box .web-head {
    display: block;
    max-width: 600px;
    opacity: 0.6;
    letter-spacing: 1px;
  }
  section div {
    max-width: 800px;
  }
  section ul li {
    font-size: 100%;
    padding: 13px 0;
  }
  section ul li i {
    margin-right: 20px;
  }
  .web-header {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: auto;
    justify-self: flex-end;
    align-self: center;
  }
  header {
    overflow: hidden;
    padding-bottom: 0;
  }
  .header-img {
    display: none;
  }
  .btn-contact:link,
  .btn-contact:visited { 
    margin-top: 40px;
    padding: 20px 25px;
  }
  video {
    max-width: 30vw;
    margin: 0 auto;
  }
  img {
    height: auto !important;
  }
  section {
    flex-direction: row;
    padding: 100px;
    justify-content: space-evenly;
    overflow: visible;
  }
  .web-section {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1600px;
    justify-content: space-between;
    width: 100%;
  }
  .section-vision {
    flex-direction: column;
    padding-bottom: 50px;
  }
  .section-our-vision {
    margin-left: 0;
  }
  .section-our-vision h3 {
    max-width: 675px;
    margin-bottom: 55px;
  }
  .section-our-vision p {
    max-width: 675px;
  }
  .section-mobile-app img {
    max-width: 17vw;
    align-self: center;
    margin: 0 auto;
  }
  .section-my-trip {
    flex-direction: column;
    align-items: center;
  }
  .app-install { margin-bottom: 0; padding-bottom: 0;}
  .section-my-trip div {
    max-width: 1600px;
  }
  .routes,
  .routes p {
    font-size: 100%;
  }
  .routes ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;
    justify-content: space-evenly;
    text-align: center;
  }
  .routes {
    margin-bottom: 50px;
  }
  .routes ul li {
    align-items: flex-start;
    padding: 8px;
    line-height: 150%;
    font-size: 110%;
    text-align: left;
    opacity: 0.7;
  }
  .routes ul li span {
    font-size: 125%;
    font-weight: 600;
    opacity: 1;
  }
  .trip {
    align-self: flex-start;
  }
  .trip h2,
  .trip h3 {
    padding: 0;
  }
  .web-trip {
    flex-direction: column;
  }
  .section-our-vision .new-routes {
    max-width: 800px;
  }
  section h1,
  section h2,
  section h3,
  section h4 {
    max-width: 1600px;
  }
  .destinations-anim {
    display: flex;
    margin: 30px 0;
  }
  .destinations-anim img {
    max-width: 17vw;
    margin-right: 50px;
  }
  .destinations-anim h3 {
    align-self: center;
    width: 800px;
  }
  
  .cert {
    font-size: 100%;
  }
  .about-us-info {
    max-width: 1600px;
    width: 100%;
  }
  .about-us-info .web-section {
    flex-direction: column;
    max-width: 1600px;
  }
  .section-about-us {
    flex-direction: column;
  }
  .web-mobile {
    flex-direction: row;
    max-width: 1600px;
    width: 100%;
    height: auto;
  }
  .section-info {
    max-width: 755px;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .section-info h2,
  .section-info h3 {
    padding: 5px 0;
  }
  .section-info h3 { margin-bottom: 45px;}
  .section-mobile-app {
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .web-1 {
    justify-content: space-between;
  }
  .electron-5-info h2,
  .electron-5-info h3 {
    padding: 5px 0;
  }
  .web-2 {
    padding-top: 20px;
    max-width: 675px;
    margin: 20px 0;
  }
  .web-2-1 {
    padding-right: 50px;
    flex-basis: 50%;
  }
  .web-2-2 {
    padding-left: 50px;
    flex-basis: 50%;
  }
  section sub {
    font-size: 75%;
    display: contents;
  }
  .team-header {
    text-transform: none;
    font-size: 125%;
  }
  .about-us-info h3 {
    margin-bottom: 0;
    margin-top: 10px;
    max-width: 1066px;
  }
  .web-founders {
    margin: 0 auto;
    align-self: center;
    flex-basis: 50%;
  }
  .mob-img {
    display: none;
  }
  .web-img {
    display: block;
    max-width: 185px;
    height: auto;
    margin-right: 33px;
  }
  .names {
    display: flex;
    width: 100%;
    max-width: 675px;
    justify-content: space-between;
    font-size: 120%;
  }
  .names figure {
    flex-basis: 33%;
    padding: 5px;
    margin-right: 15px;
  }
  .section-sign-up {
    justify-content: center;
    font-size: 156.25%;
    padding: 20px 100px;
  }
  .section-sign-up h4 {max-width: 1200px;}
  .section-sign-up a:link,
  .section-sign-up a:visited {
    color: var(--accent-color);
    text-shadow: none;
    font-weight: 500;
  }
  .btn-career:link,
  .btn-career:visited {
    color: #fff;
    background-color: #fff;
    font-size: 75%;
    padding: 10px 20px;
    margin-left: 30px;
  }
  .about-box {
    display: flex;
    flex-direction: row;
    max-width: 1600px;
    justify-content: space-between;
    width: 100%;
  }
  .web-about {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-basis: 100%;
    max-width: 1600px;
  }
  .economic-info {
    width: 100%;
  }
  .economic-info p,
  .economic-info blockquote {
    max-width: 675px;
    width: 100%;
  }

  .slider {
    display: flex;
    justify-self: center;
    max-width: 675px;
    height: 420px;
    width: 100%;
  }
  .slides { 
    width: 100%;
    height: 100%;
  }
  .slides > div {
    margin-right: 10px;
    height: 440px;
    width: 100%;
    max-width: 675px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    background: #e9e9e9;
  }
  .slides div p {
    font-size: 20%;
  }
  .slides blockquote {
    font-size: 18%;
    padding: 5px 10px;
    text-align: left;
    max-width: 560px;
    max-height: 250px;
    width: 100%;
    height: 100%;
  }
  .slides blockquote::before {
    content: '' ;
  }
  .economic-benefits {
    justify-content: center;
  }
  .economic-benefits h2 {
    font-size: 312.5%;
    padding-bottom: 20px;
  }
  .section-ambition {
    flex-direction: column;
    padding: 20px 0;
  }
  .section-ambition h4 {
    max-width: 900px;
    padding: 5px;
  }
  .section-investors {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .investors-content {
    max-width: 1600px;
    width: 100%;
  }
  .investors-text {
    max-width: 1600px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .web-box {
    width: 100%;
    justify-content: space-between;
  }
  .web-box p,
  .web-box blockquote {
    max-width: 675px;
    width: 100%;
  }
  .section-investors h2 {
    font-size: 312.5%;
    align-self: flex-start;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .web-contact {
    justify-content: flex-start;
    flex-basis: 50%;
    align-self: flex-start;
  }
  #ff-compose {
    flex-basis: 50%;
    padding: 0 40px;
  }
  .section-contact-us h2 {
    font-size: 312.5%;
    padding-bottom: 0;
  }
  .section-contact-us p,
  .section-contact-us h2 {
    padding: 0;
    max-width: 675px;
    width: 100%;
  }
  .section-contact-us .web-section {
    flex-direction: row;
    justify-content: flex-start;
  }
  /** Footer Section **/
  footer {
    display: flex;
    background: #075e68;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 20vh;
  }
  footer ul {
    list-style: none;
  }
  footer a:link .logo,
  footer a:visited .logo {
    display: inline-block;
    margin-right: 30px;
    max-height: 90px;

    filter: drop-shadow(0 -6mm 4mm #000);
    transition: transform 0.3s ease-in-out;
  }
  footer a:hover .logo,
  footer a:active .logo {
    transform: scale(1.01);
  }

  .links {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    margin: 20px;
    font-size: 200%;
    padding-bottom: 10px;
    justify-content: center;
  }
  .links li {
    margin: 0 30px;
  }
  .links li a:link,
  .links li a:visited {
    color: #fff;
    transition: opacity 0.3s ease 0s;
  }
  .links li a:hover,
  .links li a:active {
    opacity: 0.6;
  }
  .team-member {
    width: 100%; 
    max-width: 400px !important;
    box-shadow: 0px 0px 10px #555;
    justify-content: space-between;
    opacity: 0.9;
    text-align: left;
    /* filter: grayscale(1);*/
    transition: all 0.5s ease-in-out;
  }
  .team-member:hover {
    opacity: 1;
   /*  filter: none;
    cursor: pointer; */
  }
  .web-team_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(398px, 1fr));
    grid-gap: 27px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }
}
/* New Team Section styling */
.web-about-box,
.team-header,
.web-founders { display: none;}



.team-member img {
  max-width: 400px;
  width: 100%;
}
.team-member a:link,
.team-member a:visited {
  padding: 20px;
  align-self: flex-end;
  color: #0077b5;;
  font-size: 300%;
}
.about-us-info .team { margin-bottom: 50px;}
.about-us-info .team-member p { padding: 0 20px;}

.team-member .team-name { 
  color: #000;
  margin-top: 20px;
  font-size: 156.25%;
  font-weight: 600;
}
.team-member .team-position {
  font-size: 156.25%;
  font-weight: 600;
  margin-top: 0;
}
