/** base styles **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    letter-spacing: 1px;
    background-color: rgb(196, 196, 196);
    color: #555;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    overflow: 0;
}

a:link,
a:visited {
    text-decoration: none;
    color: #707070;
    border: none;
}

.btn:link,
.btn:visited {
    display: block;
    background-color: #075E68;
    border-radius: 10px;
    position: relative; 
    color: #fff;
}
.btn:hover,
.btn:active {
    transform: scale(1.07);
    opacity: 0.8;
}

h1 {
    font-weight: 450;
    font-size: 350%;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
}
@media (max-width: 797px) {
    html,
    body {
        font-size: 90%;
        letter-spacing: 0;
    }
}
@media (max-width: 479px) {
    html,
    body {
        font-size: 80%;
        letter-spacing: 0;
    }
    .logo,
    .title-text-box {
        padding-left: 0;
        margin-left: 5px;
    }
    .nav {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: left;
    }
}
header {
    display: flex;
    flex-direction: column;
    background-image: url(img/header.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 100vw;
}

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 150px;
    width: 100vw;
}

.logo {
    height: 70px;
    width: auto;
    margin-left: 40px;
}

.company-name {
    display: flex;
    justify-self: flex-start;
    font-size: 130%;
    margin-right: auto;
    margin-left: 20px;
    letter-spacing: 2px;
    font-weight: 400;
}

.title-text-box {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    padding: 33px;
    margin: 175px auto 0 50px;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      visibility: hidden;
      -ms-transform: scale(0.95);
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
    }
  
    to {
      opacity: 1;
      visibility: visible;
      -ms-transform: scale(1.0);
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

.btn-contact {
    padding: 10px 25px;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 120%;
    font-weight: 500;
}